:root{
    --background-color1: rgb(235, 233, 233); 
    --background-color2: rgb(219, 215, 215); 
    --primary-color: rgb(36, 21, 250);
    --secondary-color: rgb(21, 9, 183);
    --border-color: rgb(10, 3, 102);
}

*{
    margin :0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    background-color: var(--background-color2);
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color2);
    box-shadow: 1px 1px 15px rgb(164, 163, 163);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

.header .logo,
.header .search-area,
.header .notification {
    display: flex;
    align-items: center;
}
.logo{
    gap: 10px;
}

.brand-name{
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-color);
}
.logo-icon{
    font-size: 25px;
}

.search-input{
    width: 250px;
    height: 40px;
    border-radius: 45px 0 0 45px;
    background-color: var(--background-color2);
    border: 1px solid var(--border-color);
    outline: none;
    padding: 0 18px;
    font-size: 15px;
}

.search-btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 0 45px 45px 0;
    cursor: pointer;
    border: none;
    outline: none;
}

.search-btn-icon{
    color:white;
    font-size: 20px;
}

.notification{
    gap:40px;
    position: relative;
}

.notification .fa-bell,
.notification .fa-user-circle{
    font-size: 25px;
    cursor: pointer;
}

.red-circle{
    position:absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    top: -4px;
    left: 3px;
}

.main-container{
    width: 100vw;
    position: relative;
    
    display: flex;
    height: calc(100vh - 70px);
    top: 70px;
}

.nav-container{
    height: calc(100vh - 70px);
    width: 250px;
    box-shadow: 1px 1px 10px rgba(189,180,185,0.7);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.nav-container::-webkit-scrollbar{
    display: none;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 91vh;
    background-color: var(--background-color1);
    position: absolute;
    top: 0 ;
    left: 0 ;
    padding: 30px 0 20px 10px;
    overflow: hidden;
}

.nav-option{
    
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    padding: 0 30px 0 20px;
    gap:20px;
    cursor: pointer; 
}
.nav-option :not(:first-child) i.fas {
    font-size: 20px;
    color: var(--primary-color);
}
.nav-option:first-child i.fas {
    color: white;
}

.nav-option h3 {
    font-size: 20px;
    
}

.nav-option:first-child h3{
    color: white;
    
}
.option1{
    background-color: var(--secondary-color);
}
/*
.nav-option:hover:not(:first-child){
    background-color: var(--background-color2);
    border-left: 2px solid var(--secondary-color);
}
*/
.nav-option:hover {
    background-color: var(--background-color2);
    border-left: 2px solid var(--secondary-color);
}

.nav-option:hover:first-child {
    background-color: var(--background-color1); 
    border-left: 2px solid var(--secondary-color);
}

/* Main Part*/

.main{
    width: 100%;
    height: calc(100vh - 70px);
    padding : 40px 30px 30px 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* for customized scroll bar */
.main::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom,rgb(0,0,85),rgb(0,0,50));
}

.main::-webkit-scrollbar{
    width: 5px;
}
.main::-webkit-scrollbar-track{
    background-color: #9e9e9eb2;
}

.box-container{
    display:flex;
    padding: 10pxs;
    justify-content: space-between;
    align-items: center;
    gap: 50px ;
    flex-wrap: wrap;

}

.box{
    height:130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 90, 0.7);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}
.box:hover{
    transform: scale(1.08);

}
.box:nth-child(1){
    background-color: var(--primary-color);
}

.box:nth-child(2){
    background-color: var(--secondary-color);
}

.box:nth-child(3){
    background-color: var(--primary-color);
}

.box:nth-child(4){
    background-color: var(--secondary-color);
}

.box .text{
    color: white;

}
.box i.fas{
    font-size: 25px;
    color: white;
}

/* Report */

.report-container{
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(188,188,188,0.9);
    padding: 0px 20px 20px 20px;
}

.report-header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0,20,151,0.60);
}

.recent-article{
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.view{
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.report-body{
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.report-topic-heading, .item1{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.items{
    width: 1120px;
    margin-top: 15px;

}

.t-op{
    font-size: 18px;
    letter-spacing: 0px;
}

.item1{
    margin-top: 20px;
}
.t-op-nextlvl{
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;

}

.lavel-tag{
    width: 100px;
    text-align: center;
    background-color: rgb(0,180,0);
    color: white;
    border-radius: 4px;
}